
@import '../../commonStyle/commonSet.scss';

.containerBg{
    @include bg($Gbg);
}
.container{
    @extend .container;
    padding:30px 0;
}
.navBar{
    float: left;
    @include wh(180px);
}
.todos{
    @include wh(calc(100% - 180px));
    margin-left:180px;
    padding: 15px;
    @extend .boxSizing;
}



