
@import '../../commonStyle/commonSet.scss';

.containerBg{
    @include bg($Gbg);
}
.container{
    @extend .container;
    padding:30px 0;
}
.navBar{
    float: left;
    @include wh(180px);
}
.todos{
    @include wh(calc(100% - 180px));
    margin-left:180px;
    padding: 0 0 0 15px;
    @extend .boxSizing;
}

/*-------------- 767  phone*/
@media all and (max-width: 992px){
    .navBar{
        float: none;
        @include wh(100%);
    }
    .todos{
        @include wh(100%);
        margin-left:0;
        padding:0;
    }
    .container{
        @include wh(96%);
    }
}




