

@import '../../commonStyle/commonSet.scss';

.stylePiece{
    @include wh(100%);

    
    position: relative;

    margin:$PlateMargin*2 0 $PlateMargin 0;
    padding:15px 0;

    .bg{
        @include positionLT;
        z-index: 0;
        @include wh(100%, 30%);
        
        @include bg(rgba(0,0,0,.2))
    }

    .piece{
        @include wh(100%);
        @include marginCenter();
        padding:0 10px;
        position: relative;
        z-index: 1;
        @extend .boxSizing;
        &:after{
            @include afterClear();
        }
        
        .imgbox{
            width:30%;
            float: left;
            
            img{
                @include wh(100%);
                display: block;
                @include radius();
            }
        }
        .text{
            float: left;
            width:65%;
            padding:30px;
            margin-top:5%;
            margin-left:5%;
            font-size:16px;
            @include bg($Ncolor);

            h2{
                font-size:30px;

                margin-bottom:20px;
            }

            @extend .boxSizing;
        }
    }
    

}


/*-------------- 992 pad*/
@media all and (max-width: 992px){
    .stylePiece{
        margin-top:5px;
        margin-bottom:15px;

        .piece{
            @include wh(100%);
            padding:7px;
            
            .imgbox{
                @include wh(100%);
                float: left;
                
                img{
                    @include wh(100%);
                    display: block;
                    @include radius();
                }
            }
            .text{
                margin:0;
                @include wh(100%);
                padding:15px;
                margin-top:5px;
                @include radius();
                color:white;
    
                h2{
                    margin-bottom:20px;
                }
            }
        }
    }
}



