

@import '../../../commonStyle/commonSet.scss';

.navbar{
    list-style:none;
    @include bg(white);
    display: inline-block;
    border: 1px solid $BorderColor;
    @include radius(10px);
    overflow: hidden;
    @extend .boxSizing;
    @include wh(100%);
    li{
        text-decoration: none;
        color:$textColor;
        padding: 20px 0 20px 35px;
        display: block;
        border-bottom:1px solid #eeeeee;
        font-size:18px;
        @include transition;
        cursor: pointer;

        i{
            display: inline-block;
            margin-right:10px;
            font-size:30px;
            color:$Gcolor;
        }
    }
    li:last-child{
        border-bottom:0;
    }
    li:hover{
        @include bg(#f7f7f7);
    }
    .navbaractive{
        @include bg($BGcolor);
        color:white;

        &:hover{
            @include bg($BGcolor);
        }
    }

}
.fixedBar{
    position: fixed;
    width: 180px;
    top: 50px;
}

/*-------------- 992 pad*/
@media all and (max-width: 992px){
    .navbar{
        display:block;
        @include wh(100%);
        margin-bottom:30px;
        &:after{
            @include afterClear;
        }
        li{
            float: left;
            padding:15px 0;
            border-bottom:0;
            width:20%;
            text-align: center;
            font-size:15px;
            i{
                display: block;
                margin-right:0;
                font-size:30px;
                color:$Gcolor;
            }
        }
        .navbaractive{
            @include bg($BGcolor);
            color:white;
    
            &:hover{
                @include bg($BGcolor);
            }
        }
    
    }
}
/*-------------- 767  phone*/
@media all and (max-width: 767px){
    .navbar{
        margin-bottom:18px;
        li{
            font-size:14px;
            padding:7px 0;
            i{
                font-size:24px;
            }
        }
    }
}




