@import '../../commonStyle/commonSet.scss';


.imgObj{
    @include wh(100%);

    display: block;
}

.textBox{
    @include positionLT;
    @include wh(100%, 100%);

    h1{

        @include positionLT(5%);
        @include wh(100%);
        @include transition;
        top:auto;
        bottom: 20%;

        transform: translateX(-5%);
        opacity: 0;


    }
    
}

// 文字动态出来
.titleShow h1{
    transform: translateX(0);
    opacity: 1;
}