
@import '../../commonStyle/commonSet.scss';
$padding:10px;
$headerH:40px;

.header{
    padding:0 15px;
    @extend .boxSizing;
    @include wh(100%, $headerH);
    @include bg($Ncolor);
}
.left{
    img{
        @include wh(130px)
    }
}