
@import '../../commonStyle/commonSet.scss';

.canvasBox{
    overflow: hidden;
}

.canvas{
    @include wh(100%, 400px);
    display: block;
    @include bg(black);
}


/*-------------- 767  phone*/
@media all and (max-width: 767px){
    .canvas{
        @include wh(200%, 200px);
        display: block;
        @include bg(black);
        margin-left:50%;
        transform: translateX(-50%)
    }
}
