
// footer color
$footerColor:#21252b;

// logo color
$Ncolor:#5585ec;
$Rcolor:#3c7c21;
$Acolor:#751e0f;
$Gcolor:orangered;
$BGcolor:#404040;
$Vcolor:rgb(255, 186, 0);
// $textColor:rgb(80, 80, 80);

// body 背景
$Gbg:rgba(230, 230, 230, 0.3);

// info背景
$infoBg:#f3f3f3;

// border 背景
$BorderColor:rgb(219, 219, 219);

$hrColor:rgb(238, 238, 238);
// 文字颜色
$textColor:rgb(97, 97, 97);

// 聊天选中好友的背景
$contactActive:rgb(245, 245, 245);

// 板块件的margin
$PlateMargin:60px;


// --------  cms color
$leftBg:#333; // 主色背景
$leftHover:#4c4c4c; // hover背景
$childBg:#262626;
$tableBorderColor:rgb(228, 228, 228);


// 按钮颜色
// add
$btnAddColor:#5cb85c;
$btnAddColorH:#449d44;
$btnAddColorB:#398439;
// delete
$btnDeleteColor:#d9534f;
$btnDeleteColorH:#c9302c;
$btnDeleteColorB:#ac2925;
// edit
$btnEditColor:#5bc0de;
$btnEditColorH:#31b0d5;
$btnEditColorB:#269abc;