

// banner的高度
$bannerH:800px!default;

// footer的高度
$footerH:80px!default;

// footer color
$footerColor:#21252b;

// logo color
$Ncolor:#5585ec;
$Rcolor:#3c7c21;
$Acolor:#751e0f;
$Gcolor:orangered;

// 板块件的margin
$PlateMargin:60px;
