
// footer color
$footerColor:#21252b;

// logo color
$Ncolor:#5585ec;
$Rcolor:#3c7c21;
$Acolor:#751e0f;
$Gcolor:orangered;
$BGcolor:#404040;
$Vcolor:rgb(255, 186, 0);
// $textColor:rgb(80, 80, 80);

// body 背景
$Gbg:rgba(230, 230, 230, 0.3);

// border 背景
$BorderColor:rgb(219, 219, 219);

// 文字颜色
$textColor:rgb(97, 97, 97);

// 板块件的margin
$PlateMargin:60px;
