

//  box-sizing 
.boxSizing{
    box-sizing: border-box;
}

.container{
    width   : 90%;
    margin  : 0 auto;
    position: relative;

    &:after{
        @include afterClear();
    }
}

/*-------------- 767  phone*/
@media all and (max-width: 767px){
    .container{
        position: initial;
    }
}



