
// 过度
@mixin transition( $time:.3s, $curve:ease ){
    transition         : all $time $curve;
    -webkit-transition : all $time $curve;
} 
// 背景颜色
@mixin bg( $color ){
    background : $color;
}

// 背景图片
@mixin bgImg($url){
    background:url($url) no-repeat;
}
// 伪类块
@mixin PseudoBlock($c:''){
    content:$c;
    display:block;
}

// after清除浮动
@mixin afterClear{
    @include PseudoBlock();
    clear   : both;
}

// 宽高  可以用 null 占位
@mixin wh( $w:null, $h:null ){
    width  : $w ;
    height : $h ;
}