
// 过度
@mixin transition( $time ){
    transition         : all $time ease;
    -webkit-transition : all $time ease;
} 
// 背景颜色
@mixin bg( $color ){
    background : $color;
}

// 背景图片
@mixin bgImg($url){
    background:url($url) no-repeat;
}

// after清除浮动
@mixin afterClear{
    content : "";
    display : block;
    clear   : both;
}

// 宽高  可以用 null 占位
@mixin wh( $w:null, $h:null ){
    width  : $w ;
    height : $h ;
}

// 使用定位上下左右居中  - 父级要 position relative
@mixin absoluteCenter(){
    position : absolute;
    top      : 0;
    bottom   : 0;
    left     : 0;
    right    : 0;
    margin   : auto;
}