
@import '../../commonStyle/commonSet.scss';

.right{
    float: left;
    @include wh(calc(100% - 200px), calc(100% - 40px));
    @extend .boxSizing;
    overflow: scroll;
}
.titleBar{
    @include wh(100%);
    border-bottom:1px solid $BorderColor;
    padding: 10px;
    @extend .boxSizing;
    @include bg(white);
    font-size:18px;
    font-weight: normal;

    i{
        display: inline-block;
        margin-right:5px;
        font-size:22px;
    }
}
.pages{
    padding:10px;
    @extend .boxSizing;
}



