
@import '../../commonStyle/commonSet.scss';



.todo{
    
    padding:40px 0 0;
    @include bg($BGcolor);

    &>h2{
        color:white;
        text-align: center;
        position: relative;
        margin-bottom:60px;

        &:after{
            @include afterBlock();
            @include positionLRcenter();
            @include wh(2em, 3px);
            @include bg($Gcolor);
            @include transition();
            bottom:-15px;
            border-radius: 2px;
        }
    }
    &:hover>h2:after{
        @include wh(4em);
    }

    ul{
        list-style: none;
        li{
            float: left;
            position:relative;
    
            @include wh(25%);
            
            .todos{
                @include positionLT;
                overflow: hidden;
    
                @include wh(100%, 100%);

                p{
                    position: absolute;
                    left:0;
                    bottom:10%;
                    z-index: 3;
                    transform: translateX(0);
                    opacity: 0;
                    font-size:20px;
                    @include transition(1s);
                }
    
                img{
                    @include wh(100%);
                    @include transition(1.6s);
                    position: relative;
                    z-index: 1;
                    cursor: pointer;
                }
                &:after{
                    @include afterBlock;
                    @include positionLT;
                    @include wh(100%, 100%);
                    @include bg(rgba(0,0,0,0));
                    @include transition(1s);
                    z-index: 2;
                }
                &:hover h2::after{
                    width:1em;
                }
    
                &:hover img{
                    transform: scale(1.15);
                }
                &:hover::after{
                    @include bg(rgba(255,255,255,.3));
                }
                &:hover p{
                    transform: translateX(80%);
                    opacity: 1;
                }
    
            }
        }
    
        &:after{
            @include afterClear();
        }
    }
}
/*-------------- 992 pad*/
@media all and (max-width: 992px){
    .todo ul li {
        width:50%;
        .todos{
            p{
                opacity: 1;
                transform: translateX(0);
                bottom: 0;
                padding:7px 15px;
                @include wh(100%);
                @include bg(rgba(255,255,255,.3))
            }
            &:after{
                display: none;
            }
            &:hover p{
                transform: translateX(0);
            }
        }
        
    }
}


/*-------------- 767  phone*/
@media all and (max-width: 767px){

    .todo{
        
        &>h2{
            margin:20px 0 45px 0;
        }
        padding:7px;
        ul {
            li{
                left:0;
                right:0;
                margin-bottom:15px;
                @include wh(100%);
                .todos{
                    @include wh(100%, 100%);
                } 
            } 
        }
    } 
}





