
@import '../commonStyle/commonSet';

.home{

    @include wh(null, 600px);
    @include bgImg('/img/home/carFooter.jpg');
    

    background-attachment:fixed;
    background-position:top center;
    
    text-align: center;
    img{
        @include wh(100%);
        display:block;
    }
    button{
        padding:15px 180px;
        margin-top:300px;
        border:1px solid #fff;
        color:white;
        cursor: pointer;
        outline:0;
        font-size:20px;
        position:relative;

        @include bg(rgba(0,0,0,0));

        span{
            position:relative;
            z-index:1;
        }
       

        &:after{
            content:'';
            display:block;
            position:absolute;
            left :0;
            top :0;
            z-index:0;
            
            @include wh(0, 100%);
            @include bg(rgba(255, 255, 255, .5));
            @include transition(.3s);

            
        }

        &:hover::after{
            @include wh(100%, 100%);
        }
    }
}
.todo{
    margin-bottom:80px;
}
.todo ul{
    list-style: none;
    padding:30px 30px 28px 30px;

    @include bg(white);
    
    li{
        float: left;
        // outline: 1px solid red;
        position:relative;

        @include wh(50%);

        // 占位图片
        .placeholder{
            display:block;

            @include wh(100%);
        }
        .todos{
            position:absolute;
            top:0;
            left:0;
            overflow: hidden;

            @include wh(99%, 97.7%);

            img{
                @include wh(100%);
                @include absoluteCenter();
                @include transition(1.6s);
            }
            h2{
                position:absolute;
                bottom:10%;
                left:6%;
                color:white;
                font-size:3vw;

                &:after{
                    content:"";
                    display:block;
                    width:0;
                    height:4px;
                    
                    @include transition(.8s);
                    @include bg(#751e0f);

                }

                
            }
            &:hover h2::after{
                width:90px;
            }

            &:hover img{
                transform: scale(1.15);
            }
        }
        &:nth-child(2n){
            .todos{
                left:inherit;
                right:0;
            }   
        }
    }

    &:after{
        @include afterClear();
    }
}

/*-------------- 767  phone*/
@media all and (max-width: 767px){
    .home{
        @include wh(null, 400px);

        button{
            padding:10px 80px;
            margin-top:220px;
        }
    }
    .todo ul {
        padding:15px 0 0 0;

        li{
            left:0;
            right:0;
            margin-bottom:15px;
            @include wh(100%);
            .todos{
                @include wh(100%, 100%);
                h2{
                    font-size:4vw;
                }
            } 
        } 
    }
}





