
@import '../../commonStyle/commonSet';

.banner{
    .fixedCase{
        @include wh(100%);
        position:fixed;
        top:0;
        left:0;
        overflow: hidden;

        .bannerBg{
            @include wh(100%);
            position: absolute;
            top:0;
            left:0;

        }

        button{
            @include positionCenter();
        }
    }
    
}



