
@import '../../commonStyle/commonSet';


.banner{
    img{
        display: block;
        @include wh(100%);
    }
    .fixedCase{
        @include wh(100%);
        position:fixed;
        top:0;
        left:0;
        overflow: hidden;

        .bannerBg{
            @include wh(100%);
            position: absolute;
            top:0;
            left:0;

        }
    }
    
}



