

@import '../commonStyle/commonSet';


.header{
    width    : 100%;
    padding  : 30px 0 20px 0;
    position : fixed;
    font-size: 15px;
    z-index  : 99;

    @include bg(rgba(255,255,255,.8));
    @include transition(.5s);

    &:after{
        @include afterClear();
    }

    ul{
        list-style : none;
        position   : absolute;
        bottom     : 0;
        right      : 100px;
    
        li{
            display : inline-block;
            
            
            position: relative;
            z-index : 1;

            @include transition(.3s);
        
            &:first-child{
                margin-left:0;
            }
            &:hover a{
                color: white;
            }

            a{
                display:block;
                color : #80000c;
                text-decoration: none;
                padding : 7px 14px;

                @include transition(.5s);
            }
            .navBarThisPage{
                color:white;
            }
            .navHoverBar{
                color:#80000c;
            }
        }
        
    
        .navBarActive{
            display  : block;
            position : absolute;
            bottom   : 0;
            height   : 100%;
            left     : 0;
            border-radius: 5px;
            z-index      : 0;

            @include bg(orangered);
            @include transition(.5s);
        }
    }

    .navBarContainer li a{
        color:#80000c;
    }
    
}

.logo{
    width   : 200px;
    float   : left;
    position: relative;

    @include transition(.3s);

    img{
        width : 100%;
    }

    .logo_O{
        position : absolute;
        top      : 1px;
        left     : 1px;
        width    : 20%;
        transform: rotate(0deg);
        animation: logoRotate 5s linear infinite;
    }
}

.login{
    position  : absolute;
    bottom    : 7px;
    right     : 0;
    font-size : 16px;


    @include transition(.3s);

    a{
        margin-left    : 15px;
        position       : relative;
        text-decoration: none;
        color          : orange;
        display        : inline-block;
        cursor         : pointer;
    
        &:after{
            @include bg(#751e0f);
        }
        &:hover{
            color:orangered;
        }
        &:hover::after{
            color:#751e0f;
        }
        &:last-child::after{
            content : "";
            position: absolute;
            left    : -9px; 
            top:0;
            bottom:0;
            margin:auto;
            @include wh(1px, 18px)
        }
    }
    .loginStyle{
        color:orangered;
        text-decoration: underline;
    }
}
.headerFixed{
    padding:20px 0 10px 0;

    @include bg(rgba(255,255,255,1));

    .logo{
        width:180px;
    }
    ul li a{
        padding:5px 14px;
    }
}


// transform 

/* rotate */ 
@keyframes logoRotate {
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg)
    }
}



