

@import '../commonStyle/commonSet.scss';

.footer{
    height: $footerH;
    line-height: $footerH;
    padding:0 15px;
    color:white;
    position: relative;
    // bottom:0;
    // left:0;
    z-index:3;


    @include wh(100%);
    @include bg($footerColor);
    @extend .boxSizing;
}





