
@import '../../../commonStyle/commonSet.scss';

.navbar{
    @include bg(white);
    // border:1px solid $BorderColor;
    @include radius(5px);
    // padding:10px;
    @include cmsShadow; 
}
.table{
    @include wh(100%);  
    border-radius: 5px ;
    overflow: hidden;
    // border-collapse:collapse;
    // border:1px solid $hrColor;
    th{
        @include bg(rgb(240, 240, 240));
    }
    th, 
    td{
        text-align: center;
        padding:10px;
        border-bottom:1px solid $tableBorderColor;
        border-right:1px solid $tableBorderColor;

        &:last-child{
            border-right:0;
        }
    }
    tr:last-child{
        td{
            border-bottom:0;
        }
    }
}
.tablebox{
    border:1px solid $tableBorderColor;
    border-radius:5px;
    overflow: hidden;
}





